<!-- 
<div class="container-one">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>


<div class="container-two">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>


<div class="container-three">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div> -->








<!-- Navbar -->
<div class="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 90px;">
    <div class="container-fluid" style="margin-left: 100px; margin-right: 30px;">

      <h1 class="navbar-brand"
        style="font-size: 25px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: 800;">
        <span class="text-warning"> EDDIE-FLEX </span>ONLINE STORE
      </h1>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Cart</a>
        </li>

        <li class="nav-item dropdown-toggle">
          <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
        </li>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>


<!-- Promo advert -->
<div style="margin-right: 155px;margin-left: 145px;">
  <div class="text-white bg-secondary"
    style="font-size: 25px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <marquee behavior="row" direction="left">
      <SPan class="text-light badge bg-warning"> PROMO! PROMO!! PROMO!!! </SPan>Enjoy Free Unlimited Delivery on <SPan
        class="text-warning"> EDDIE-FLEX</SPan>ONLINESTORE Amazing deals just for you Get 10% off every purchase with
      <span class="text-warning"> EDDIE-FLEX </span>
      loyalty card
    </marquee>
  </div>
</div>



<!-- SECTIONS-ONE  -->
<div class="container">
  <div class="row">
    <div class="col" *ngFor="let product of product">
      <app-my-card  title= "{{ product.title}}"
       img ="./assets/images/{{ product. img}}"
       price="${{ product. price}}"
       promoPrice="${{ product. promoPrice}}" 
       rate = "{{ product. rate}}%" 
       rating= "{{ product. rating}}%" 
       percentage="{{ product. percentage}}%">
      </app-my-card>
    </div>

<!--
    <div class="col" *ngFor="let product of product">
      <app-my-card  title= "{{ product.title}}"
       img ="./assets/images/{{ product. img}}"
       price="${{ product. price}}"
       promoPrice="${{ product. promoPrice}}" 
       rate = "{{ product. rate}}%" 
       rating= "{{ product. rating}}%" 
       percentage="{{ product. percentage}}%">
      </app-my-card>
    </div>
    
    <div class="col" *ngFor="let product of product">
      <app-my-card  title= "{{ product.title}}"
       img ="./assets/images/{{ product. img}}"
       price="${{ product. price}}"
       promoPrice="${{ product. promoPrice}}" 
       rate = "{{ product. rate}}%" 
       rating= "{{ product. rating}}%" 
       percentage="{{ product. percentage}}%">
      </app-my-card>
    </div>
-->
  </div>
</div>

  <br>
  <br>


<!-- FOOOTER -->
<app-footer></app-footer>













<!-- <router-outlet></router-outlet> -->